<div class="ui grid">
    <div class="four wide column">
        <img class="ui image left floated" src="{{author.images.large}}" alt="">
    </div>
    <div class="eight wide column">
        <div class="ui segment basic">
            <h1 class="ui header">
                {{author.name}}
                <div class="sub header">
                    {{author.hometown}}
                </div>
                <div class="sub header">{{author.fans}} Fans</div>
            </h1>
            <div class="ui divider"></div>
            {{{author.about}}}



            
        </div>
    </div>
</div>